{% load static %}
<nav class="navbar" role="navigation" style="margin-bottom:0px !important;margin-top:50px; background-color: #5AC8FA;">
    <div class="container" style="max-width:80%">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>About Us</h4>
                    <p class="footer-text" style="color: #fff">
                       Developed By Akshat Shah & Avi Shah
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4>Contact Us</h4>
                    <p class="footer-text" style="color: #fff">
                       Akshat Shah: <a href="mailto:akshatshah840@gmail.com" style="color: #fff" title="Mail Us">akshatshah840@gmail.com</a>
                    </p>
                    <p class="footer-text" style="color: #fff">
                       Avi Shah: <a href="mailto:avishah888@gmail.com" style="color: #fff" title="Mail Us">avishah888@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>